.flex{
    display: flex;
}
.items-center{
    align-items: center;
}
.small-x-gap{
    column-gap: 2rem;
}
.border{
    border: 1px solid #ccc;
}
.rounded{
    border-radius: 0.5rem;
}
.full-width{
    width: 100%;
}

.input-border{
    border:1px solid #ccc;

}
.input-focus:focus{
    border: 1px solid #0984e3 !important;
}